.stats {
  padding-left: 0;
  list-style: none;
  display: flex;
  width: 100%;
  margin: 0;
}
.stat {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 246, 249);
  height: 55px;
  border-top: 1px solid rgb(228, 233, 240);
  border-right: 1px solid rgb(228, 233, 240);
  padding-top: 20px;
  /* box-sizing: border-box; */
}
.stat:last-of-type{
    border-right: none;
}

.label {
  font-size: 12px;
  font-family: "Lato";
  color: rgb(118, 134, 150);
  text-align: center;
}
.quantity {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(31, 51, 73);
  font-weight: 900;
  text-align: center;
  margin-top: 5px;
}
