.description {
  /* display: flex;
    flex-direction: column; */
  padding-top: 30px;
  padding-bottom: 15px;
}

.avatar {
  display: block;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.name {
  font-size: 18px;
  font-family: "Lato";
  color: rgb(18, 34, 54);
  font-weight: bold;
  text-align: center;
}

.tag {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(118, 134, 150);
  text-align: center;
}
.location {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(118, 134, 150);
}
