.pricing-plan {
    list-style: none;
    display: flex;
    flex-basis: 1410px;
    max-width: 1410px;
    max-height: 700px;    
    padding: 0;
    margin: 0 auto;
    margin-bottom: 50px;
}

.item {
    margin: 0 10px;
    flex: 1 1 33.33%;    
}
.item:nth-of-type(1) > div > button {
    background-color: #dd7c4b;
}
.item:nth-of-type(2) > div > button {
    background-color: #c0c0c0;
}
.item:nth-of-type(3) > div > button {
    background-color: #dda431;
}
.item:nth-child(1) > div > h2 {
    color: #dd7c4b;
  }
  .item:nth-child(2) > div > h2 {
    color: #c0c0c0;
  }

.item:nth-child(3) > div > h2 {
    color: #dda431;
  }
